/* Write your code here. */
.thumbnail-img {
  height: auto;
  width: auto;
  padding: 5px;
}
.button {
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
}
.active {
  opacity: 1;
}
